body {
  margin: 0;
  padding: 0;
  background: #081b29;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #ededed !important;
  height: 100vh;
}

#root{
  height: 100vh;
}

#footer-content{
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: flex-end;
  justify-self: end;
}

.trans{
  /* -webkit-text-fill-color: red; */
  -webkit-text-stroke: 4px #83b4ff;
  -webkit-text-fill-color: transparent;
  letter-spacing: 5px;
}

h3{
  font-size: inherit;
}

footer{
  position: relative;
  bottom: -80px;
  background-color: #405d72;
  width: 100%;  
}

.socials{
  list-style: none;
  display: flex;
  gap: 10px;
  padding: 0;
  margin: 16px 0px;
}

.stairs{
  position: relative;
  height: 100%;
  width: 100%;
  background-color: #83b4ff;
}

.stair-trans{
  position: fixed;
  width: 100;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  pointer-events: none;
  z-index: 40;
  display: flex;
}

.page-trans{
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  background-color: #081b29;
  pointer-events: none;
  z-index: 10;
}

canvas{
  max-width: 100% !important;
  height: 500px !important;
}

.pdf{
  box-shadow: 0px 4px 5px 3px #83b4ff;;
  transition: all 0.4s ease-in-out;
}

.pdf:hover{
  box-shadow: 0px 4px 30px 10px  #83b4ff;;
  transform: scale(1.02)
}

.desc {
  display: block;
  max-width: 500px;
}

button {
  border: 0;
  padding: 0;
  margin: 0;
}

main{
  position: absolute;
  top: 80px;
  min-height: 84vh !important;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow-y: auto;
  /* padding-top: 75px; */
}

.resume-container{
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  /* overflow: hidden; */
  /* height: ; */
  height: 100%;
  margin-bottom: 30px;
}

.resume-container > button{
  max-width: 300px !important;
}


.swipeButton{
  display: flex;
  gap: 10px;
  margin-top: 20px;
}



.icon {
  font-size: 100px;
  background: #83b4ff;
  color: #081b29;
  height: 100px;
}

.icon:hover {
  color: #ededed;
  transition: 0.3s;
}

.tooltip {
  background-color: #081b29;
  color: #ededed;
  display: flex;
  border: 0;
  border-radius: 8px;
  align-items: center;
  justify-content: center;
}

.main-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 40px;
}

.main-content > * {
padding: 0;
margin: 0;
}


.main-content > h1 {
  font-size: 2em;
}

.project-content{
  position: relative;
  display: inline-flex;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
  min-height: 400px;
  justify-content: space-between;
  align-items: start;
  gap: 20px;
}

.project-content:nth-child(2){
  min-height: 450px;
  order: -1;
}

.button-slide{
  background: #83b4ff;
  outline: none;
  height: 40px;
  width: 40px;
  transition: all 0.2s;
}

.button-slide:hover{
  background: #6991cc;
}

.btn-style{
  font-size: 22px;
  color: #081b29;
}

.project-content > * {
  padding: 0;
  margin: 0
}

.project-content > ul{
  display: flex;
  list-style-type: none;
  gap: 15px;
}

hr{
width: 100%
}



.icon-list {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
  gap: 20px;
  height: 330px;
  overflow-y: scroll;
}

.icon-list > li {
  /* border: 2px solid #83b4ff; */
  background: #83b4ff;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 150px;
  border-radius: 8px;
}

.card-item {
  display: flex;
  flex-direction: column;
  align-content: flex-end;
  justify-content: space-between;
  border: 2px solid #83b4ff;
  border-radius: 8px;
  padding: 20px;
  padding-bottom: 0;
  min-height: 165px;
  overflow: hidden;
}

.card-item div > p {
  color: #83b4ff;
  margin-bottom: 5px;
}

.card-item div > h2 {
  font-size: 1.3rem;
  display: inline;
}

.card-item > ul {
  color: grey;
  padding: 0;
  padding-left: 20px;
  margin-top: 40px;
}

.card-item > ul > li::marker {
  color: #83b4ff;
}

.card {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
  gap: 20px;
  max-height: 410px;
  overflow-y: scroll;
  overflow-x: hidden;
}

header {
  position: fixed;
  width: 100%;
  height: 75px;
  top: 0;
  z-index: 100;
  transition:  0.2s ease-in;
  overflow: hidden;
}

.h {
  background: #405d72;
}

.content-style{
  position: absolute;
  display: flex;
  justify-content: space-between;
  right: 0;
  bottom: calc(50% + 20px);
  z-index: 3;
  width: 100%;
  /* bottom: calc(50%-22px); */
}

.container {
  width: 90%;
  margin: auto;
  height: 100%;
  position:relative;
}

.flex-container {
  display: flex;
  flex-direction: column;
  gap: 50px;
  justify-content: space-between;
  padding-bottom: 50px;
  align-items: start;
  width: 100%;
}

#logo {
  position: relative;
  font-size: 25px;
  color: #ededed;
  font-weight: 600;
  text-decoration: none;
}

#logo::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #081b29;
  animation: showRight 1s ease forwards;
  animation-delay: 0.4s;
}

.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-bar > a {
  text-decoration: none;
}

.nav-Items {
  display: none;
  list-style-type: none;
}

.nav-Items a {
  position: relative;
  margin-left: 40px;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  color: #ededed;
}


.nav-Items a::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  height: 3px;
  width: 0;
  background-color: #83b4ff;
  transition: 0.3s;
}

.nav-Items a:hover::before {
  width: 100%;
}

.active{
  position: relative;
  color: #83b4ff !important ;
}

.active::before{
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  height: 3px;
  width: 100% !important;;
  background-color: #83b4ff 
}

#side-items {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  gap: 30px;
}

.close-side {
  padding: 20px;
  align-self: start;
}

.side-bar {
  position: fixed;
  flex-direction: column;
  justify-content: start;
  top: 0;
  right: 0;
  width: 90%;
  gap: 60px;
  background: #405d72;
  height: 100%;
  overflow: hidden;
  z-index: 1100;
}

.side-bar-enter {
  right: -100%;
}
.side-bar-enter-active {
  right: 0;
  transition: right 200ms;
}
.side-bar-exit {
  right: 0;
}
.side-bar-exit-active {
  right: -100%;
  transition: right 200ms;
}

.content {
  max-width: 600px;
}

.content h1 {
  position: relative;
  font-size: 56px;
  font-weight: 700;
  padding: 0;
  margin: 0;
  line-height: 1.2;
}

.content h1::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: #081b29;
  animation: showRight 1s ease forwards;
  animation-delay: 1s;
  z-index: 1;
}

.job-title h3 {
  position: relative;
  font-size: 32px;
  font-weight: 700;
  padding: 0;
  margin: 0;
  height: 74px;
}

.job-title h3::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background: #081b29;
  animation: showRight 1s ease forwards;
  animation-delay: 1.3s;
  z-index: 1;
}

.content p {
  position: relative;
  font-size: 16px;
  margin: 20px 0 40px;
}

.content p::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: #081b29;
  animation: showRight 1s ease forwards;
  animation-delay: 1.6s;
}

.btn-box {
  position: relative;
  display: flex;
  justify-content: center;
  gap: 10px;
  width: 100%;
  height: 50px;
}

.btn-box::before {
  content: "";
  position: absolute;
  right: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background: #081b29;
  animation: showRight 1s ease forwards;
  animation-delay: 1.9s;
  z-index: 2;
}

.btn-box a {
  position: relative;
  overflow: hidden;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  width: 150px;
  height: 40px;
  border: 2px solid #83b4ff;
  background: #83b4ff;
  border-radius: 8px;
  font-size: 19px;
  font-weight: 600;
  letter-spacing: 1px;
  color: #081b29;
  z-index: 1;
}

.btn-box a:hover {
  color: #83b4ff;
}

.btn-box a:nth-child(2) {
  background: transparent;
  color: #83b4ff;
}

.btn-box a:nth-child(2):hover {
  color: #081b29;
}

.btn-box a:nth-child(2)::before {
  background: #83b4ff;
}

.btn-box a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #081b29;
  transition: 0.5s ease-in-out;
  z-index: -1;
}

.btn-box a:hover::before {
  width: 100%;
}

.btn-box::before {
  content: "";
  position: absolute;
  right: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background: #081b29;
  animation: showRight 1s ease forwards;
  animation-delay: 1.9s;
  z-index: 2;
}

.btn-box button {
  position: relative;
  overflow: hidden;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  width: 150px;
  height: 40px;
  border: 2px solid #83b4ff;
  background: #83b4ff;
  border-radius: 8px;
  font-size: 19px;
  font-weight: 600;
  letter-spacing: 1px;
  color: #081b29;
  z-index: 1;
}

.btn-box button:hover {
  color: #83b4ff;
}

.btn-box button:nth-child(2) {
  background: transparent;
  color: #83b4ff;
}

.btn-box button:nth-child(2):hover {
  color: #081b29;
}

.btn-box button:nth-child(2)::before {
  background: #83b4ff;
}

.btn-box button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #081b29;
  transition: 0.5s ease-in-out;
  z-index: -1;
}

.btn-box button:hover::before {
  width: 100%;
}

.project-image{
  min-height: 400px; 
  max-height: 400px;
  width: 100%;

}

.project-title{
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: space-between;
}

.tag {
  padding-top: 20px;
  position: relative;
  width: 100%;
  display: flex;
  justify-content: start;
  gap: 10px;
  padding-bottom: 20px;
}

.tag::before {
  content: "";
  position: absolute;
  right: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background: #081b29;
  animation: showRight 1s ease forwards;
  animation-delay: 2.5s;
  z-index: 2;
}

.tag a {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  text-decoration: none;
  border: 2px solid #83b4ff;
  border-radius: 50%;
  font-size: 20px;
  color: #83b4ff;
  overflow: hidden;
  z-index: 1;
}

.tag a:hover {
  color: #081b29;
}

.tag a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  background-color: #83b4ff;
  transition: 0.5s;
  z-index: -1;
}

.tag a:hover::before {
  width: 100%;
}

.wave {
  /* transform: skew(); */
  display: inline-block;
  transform-origin: 70% 70%;
  animation: wave-left 3s ease-in-out 1s infinite;
}

.blinker {
  position: absolute;
  animation: blink 0.7s linear infinite;
}

.blue {
  color: #83b4ff;
}

.image-container {
  position: relative;
  border-radius: 50%;
  /* clip-path: circle(50%); */
}

.image-container::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: #081b29;
  animation: showRight 1s ease forwards;
  animation-delay: 2s;
}

.image-resize {
  border-radius: 50%;
  height: 300px;
  width: 300px;
}

.about-button{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.about-button > button {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  width: 100%;
  height: 40px;
  border: 2px solid #83b4ff;
  background: transparent;
  border-radius: 8px;
  font-size: 19px;
  font-weight: 600;
  letter-spacing: 1px;
  color: #83b4ff;
  z-index: 1;
}

.about-button > button:hover {
  color: #081b29;
}

.about-button > button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #83b4ff;
  transition: 0.3s;
  z-index: -1;
}

.about-button > button:hover::before {
  width: 100%;
}

.button-style{
  background-color: #83b4ff;
  color: #081b29;
}

@keyframes sidebar {
  0% {
    width: 0%;
  }
  100% {
    width: 90%;
  }
}

@keyframes test2 {
  0% {
    width: 90%;
  }
  100% {
    width: 0%;
  }
}

@keyframes test2 {
  0% {
    width: 90%;
  }
  100% {
    width: 0%;
  }
}

/* initial load animation */
@keyframes showRight {
  100% {
    width: 0;
  }
}

/* Wave Animation */
@keyframes wave-left {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  } /* The following five values can be played with to make the waving more or less extreme */
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  } /* Reset for the last half to pause */
  100% {
    transform: rotate(0deg);
  }
}

@keyframes blink {
  0% {
    opacity: 100%;
  }
  50% {
    opacity: 0%;
  }
}

@media screen and (min-width: 576px) {
  .container {
    width: 540px;
  }
  .nav-Items {
    display: flex;
    list-style-type: none;
  }
  .side-bar {
    display: none;
  }
  .open-side {
    display: none;
  }
  .job-title h3 {
    height: 37px;
  }

  canvas{
    height: 650px !important;
  }

  .resume-container{
    margin-top: 75px;
  }
  .card {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
  .icon-list {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }
  
}

@media screen and (min-width: 768px) {
  .container {
    width: 720px;
  }

  .flex-container {
    flex-direction: row;
  }

  .tag {
    width: 170px;
  }

  .project-content{
    width: 40%;
  }

  .project-content:nth-child(2){
    width: 60%;
    order: 0
  }

  /* .about-content{
    display: flex;
    flex-direction: column;
  } */

  .image-resize {
    height: 320px;
    width: 320px;
  }

  #section-width {
    max-width: 35%;
  }

  .content .btn-box {
    justify-content: space-between;
    width: 345px;
  }

  .content-style{
    justify-content: end;
    gap: 10px;
    bottom: 0;
    /* bottom: calc(50%-22px); */
  }
  canvas{
    height: 800px !important;
  }


#footer-content{
  flex-direction: row;
  justify-content: space-between;
}

}

@media screen and (min-width: 992px) {
  .container {
    width: 960px;
  }
  .image-resize {
    height: 450px;
    width: 450px;
  }
  canvas{
    height: 1200px !important;
  }
  /* main{
    padding-top: 0px;
  } */
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1140px;
  }

}